{erl_opts, [debug_info]}.

{eunit_compile_opts, [
  {src_dirs, ["test"]}
]}.

{deps, [
  {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {branch, "master"}}},
  {neotoma, ".*", {git, "git://github.com/seancribbs/neotoma", {branch, "1.7-stable"}}}
]}.

{plugins, [
  {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}},
  {'lfe-repl', {git, "https://github.com/lfe-rebar3/repl.git", {tag, "0.2.0"}}}
]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.